# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP Noliae Mail
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 3.6 on
# fresh installs.
compatibility_level = 3.6



# TLS parameters
smtpd_tls_cert_file = /etc/letsencrypt/live/${MAIL_DOMAIN}/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/${MAIL_DOMAIN}/privkey.pem
smtpd_tls_security_level = may

smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level = may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache


smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = ${MAIL_DOMAIN}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = ${MAIL_DOMAIN}
mydestination = localhost
relayhost = 
mynetworks = ${MAIL_TRUSTED_NETS}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = ipv4
virtual_alias_maps = pgsql:/etc/postfix/pgsql/virtual_aliases.cf
message_size_limit = 52428800
smtpd_recipient_restrictions = permit_mynetworks, reject_unauth_destination, check_recipient_access pgsql:/etc/postfix/pgsql/recipient_check.cf
# Dovecot tourne dans un container séparé : LMTP via TCP réseau intnet docker
virtual_transport = lmtp:inet:dovecot:24

# SASL via Dovecot TCP (port 12345). master.cf ajoute submission 587 STARTTLS.
smtpd_sasl_type = dovecot
smtpd_sasl_path = inet:dovecot:12345
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtpd_tls_auth_only = yes
broken_sasl_auth_clients = yes
virtual_mailbox_maps = pgsql:/etc/postfix/pgsql/virtual_mailboxes.cf
virtual_mailbox_domains = pgsql:/etc/postfix/pgsql/virtual_domains.cf
smtpd_milters = inet:rspamd:11332
non_smtpd_milters = inet:rspamd:11332
milter_protocol = 6
milter_default_action = accept
syslog_name = noliae-mail
smtpd_reject_footer = Noliae Mail | postmaster@${MAIL_DOMAIN} | https://noliae.com/mail-help
